.parent-div {
    overflow: hidden;
}

.overlap-div {
    position: relative;
}

.aling-name-and-image {
    float: left;
    position: absolute;
    top: 0;
}

.image-col-div {
    padding: 0;
}

.name-col-div {
    padding: 0;
    position: relative;
}

.profile-image {
    width: 140px;
    border-radius: 50%;
    margin: 20px;
}

.name-col-div h5{
    position: absolute;
    top: 50%;
}

.address-text-area {
    height: 100px !important;
}