.div-for-google-button-in-sign-in-form {
    text-align: center;
}

.hr-rule-for-google-button {
    border-top: 5px solid #000;
}

.log-in-form {
    display: block;
    margin: 20px;
}

.log-in-button {
    float: left;
    margin-top: 0;
}